src/main/mule/p-test-lbulnesjimenez.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
        <flow name="p-test-lbulnesjimenez-main">
        <http:listener config-ref="p-test-lbulnesjimenez-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="p-test-lbulnesjimenez-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="p-test-lbulnesjimenez-console">
        <http:listener config-ref="p-test-lbulnesjimenez-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="p-test-lbulnesjimenez-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\accounts:p-test-lbulnesjimenez-config">
        <http:listener doc:name="Listener" doc:id="5bc1873e-c47f-4bae-bc3e-026f97a0bb47" config-ref="p-test-lbulnesjimenez-httpListenerConfig" path="/accounts" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request Accounts" doc:id="b663da5e-192e-41c4-9416-24bf87e1cfef" config-ref="HTTP_Request_configuration" path="/api/accounts">
			<http:headers><![CDATA[#[output application/java
---
{
	"client_id" : Mule::p("secure::prc-test.auth.client_id"),
	"client_secret" : Mule::p("secure::prc-test.auth.client_secret")
	
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="54c16088-fa4c-4577-9597-9de45a5f5e24">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
vars.requestAccounts


]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <flow name="getCombinedDataFlow">
    <http:listener config-ref="p-test-lbulnesjimenez-httpListenerConfig" path="/combined" doc:name="Listener"/>
		<http:request method="GET" doc:name="Request Accounts" doc:id="cca25918-97c6-42ff-b0d7-691eb0f6aedb" config-ref="HTTP_Request_configuration" path="/api/accounts">
			<http:headers><![CDATA[#[output application/java
---
{
	"client_id" : Mule::p("secure::prc-test.auth.client_id"),
	"client_secret" : Mule::p("secure::prc-test.auth.client_secret")
	
}]]]></http:headers>
		</http:request>
		<http:request method="GET" doc:name="Request Contacts" doc:id="ea4b557a-e3b0-4e6f-b4cf-834863b19528" config-ref="HTTP_Request_configuration" path="/api/contacts">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id" : Mule::p("secure::prc-test.auth.client_id"),
	"client_secret" : Mule::p("secure::prc-test.auth.client_secret")
	
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="dce57b83-30c6-4d34-a903-96f4753f7f36">
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
var accounts = payload
var contacts = payload
---
{
    accounts: accounts,
    contacts: contacts
}]]></ee:set-payload>
        </ee:message>
    </ee:transform>
</flow>
</mule>
